body {
    background-image: url("../public/bluesky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }

  